@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="four-zero-one">
    <div class="four-zero-one-container">
        <div class="error-code">401</div>
        <div class="error-message">Unauthorized</div>
        <div class="button-place">
            <a href="@Url.Action("Index","Home")" class="btn btn-default btn-lg waves-effect">GO BACK</a>
        </div>
    </div>
</div>

