@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">This page doesn't exist</div>
        <div class="button-place">
            <a href="@Url.Action("Index","Home")" class="btn btn-default btn-lg waves-effect">GO BACK</a>
        </div>
    </div>
</div>