.dataTables_scroll
{
    overflow:auto;
    position:relative;
}

.ls-closed .navbar-brand {
    margin-left: 30px !important;
}

.menutoggle{
  margin-left: 15px !important;
}

.four-zero-one .four-zero-one-container .error-code {
    font-size: 160px;
}

.four-zero-one {
    width: 100%;
    text-align: center;
    margin: 5% auto;
}